h1 {
    text-align: center;
    padding-bottom: 100px;
}

/* Styling for the game board */
.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.game-board .cell {
    width: 75px;
    height: 75px;
    border: 2px solid black;
}

.game-board .column {
}

/* Styling for the game pieces */
.game-piece {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: drop 1s ease-in-out;
}

/* Animation for game pieces falling into place */
@keyframes drop {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

table#game-board {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
}

td {
    width: 100px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.red {
    background-color: #ff4136;
}

.yellow {
    background-color: #ffd700;
}

.green {
    background-color: #2ecc40;
}

button#reset-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 20px auto;
    display: block;
}

button#reset-button:hover {
    background-color: #1e7e34;
}

.cell.red,
.cell.yellow {
    animation: fall 0.5s ease-out;
}

@keyframes fall {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: none;
    }
}

.turn-container {
    position: absolute;
    right: 0;
    top: 60%;
    margin-right: 20px;
}

.player {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.toggle-container {
    position: absolute;
    left: 5px;
    top: 10%;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode-select {
    display: flex;
    align-items: center;
    margin-left: 10px;
}