.game-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
}

#game-board {
    transform: rotate(-90deg);
    background-color: #202123;
    border-radius: 20px;
    padding: 10px;
    border-spacing: 1em;
}

#game-board tr {
    cursor: pointer;
    background-color: #444656;
}

#game-board tr:hover {
    background-color: rgba(180, 180, 180, 0.1);
}

#game-board td {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.coin1 {
    background-color: #e46874;
}

.coin2 {
    background-color: #46bb9c;
}

.victory {
    background-color: white;
}

@keyframes size-change {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.coin1.cell, .coin2.cell {
    animation: size-change 0.5s ease-in-out;
}