body {
    background-color: #444655;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color: #202123;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    padding: 10px;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.25s;
}

.left-sidebar, .right-sidebar {
    position: relative;
}

.left-sidebar.hidden, .right-sidebar.hidden {
    display: none;
}

#left-sidebar {
    left: 0;
    transform: translateX(-100%);
}

#left-sidebar.open {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#right-sidebar {
    right: 0;
    transform: translateX(100%);
}

#right-sidebar.open {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.sidebar-header {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2em;
}

.drawer-toggle-button {
    position: absolute;
    bottom: 50%;
    width: 30px;
    height: 100px;
    background-color: #202123;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    transform: translateX(0);
    transition: all 0.25s;
}

.drawer-toggle-button:hover {
    background-color: #171717;
}

#toggle-chat-menu {
    left: 0;
}

#toggle-chat-menu.open {
    transform: translateX(260px);
}

#toggle-social-menu {
    right: 0;
}

#toggle-social-menu.open {
    transform: translateX(-260px);
}

.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #202123;
}

.bottom-grid {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottom-grid label {
    font-size: 1.5em;
    margin: 0 10px;
}

#reset-game-button {
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: fit-content;
    width: fit-content;
}

#reset-game-button:hover {
    background-color: #1e7e34;
}

.turn-container {
    margin-left: 100px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #343541;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px 0 #202123;
}

.coin-turn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mode-select {
    margin-right: 100px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #343541;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px 0 #202123;
}