.social-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.social-navigation li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
}

.social-menu-tab {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: #444656;
    color: #868686;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 20px 0 20px 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.social-menu-tab:hover {
    background: rgba(32, 33, 58, 0.2);
}

.social-menu-tab:hover i {
    transform: scale(1.2);
}

.social-menu-tab.active-tab {
    background: #343541;
    color: white;
}

.social-menu-tab i {
    font-size: 1.5em;
    aspect-ratio: 1/1;
    height: 30px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: inherit;
}

.social-menu-tab .notification {
    right: 20%;
    top: 15%;
    transform: scale(0.8);
    transition: inherit;
    transform-origin: center center;
    opacity: 0.75;
}

.social-menu-tab:hover .notification {
    transform: scale(1);
}

.social-menu-tab.active-tab .notification {
    opacity: 1;
}

.social-content {
    background-color: #343541;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.social-content-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 20px 0;
}

.social-lists {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.social-lists::-webkit-scrollbar {
    display: none;
    width: 0;
}

.social-list {
    display: none;
    width: 100%;
}

.social-list.active {
    display: block;
    box-sizing: border-box;
}

.social-list-add-friend {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #202123;
    border-radius: 10px;
    padding: 15px 5px 0 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 90%;
}

.social-list-add-friend label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    opacity: 0.75;
}

.social-list-add-friend span {
    position: relative;
}

.social-list-add-friend-input {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 30px 0 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #444655;
    color: white;
    text-align: center;
}

.social-list-add-friend-input::placeholder {
    color: white;
    font-style: italic;
    opacity: 0.5;
    font-size: 0.8em;
}

.social-list-add-friend-input:focus {
    outline: none;
}

.social-list-add-friend i {
    position: absolute;
    right: 5px;
    top: 50%;
    padding: 5px;
    transform: translateY(-50%);
    color: #9b9bac;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-list-add-friend i:hover {
    color: #c9c9c9;
    transform: scale(1.2) translateY(-50%);
}

.social-list-add-friend .error-message {
    color: #e46874;
    font-size: 0.75em;
    padding-bottom: 10px;
    animation: grow-shrink 0.5s ease-in-out;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.social-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.social-list-item:nth-child(even) {
    background-color: #343641;
}

.social-list-item:nth-child(odd) {
    background-color: #444655;
}

.social-list-item:hover {
    background-color: #202139;
}

.social-list-item:hover .social-list-item-avatar {
    transform: scale(1.1);
}

.social-list-item-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.social-list-item-avatar:hover {
    cursor: pointer;
}

.social-list-item-avatar .status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #46bb9c;
    border: 2px solid #343541;
}

.social-list-item-avatar .status.offline {
    background-color: #e46874;
}

.social-list-item-player {
    margin-left: 5px;
}

.social-list-item-name {
    font-size: 0.9em;
    font-weight: bold;
    width: 80px;
}

.social-list-item-sub {
    font-size: 0.75em;
    color: grey;
}

.social-list-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: auto;
}

.social-list-item-button {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
}

.social-list-item-button:hover {
    cursor: pointer;
}

.social-list-item-button i {
    color: white;
}

.social-list-item-button:has(.fa-plus) {
    background-color: #46bb9c;
    opacity: 0.75;
}

.social-list-item-button:has(.fa-plus):hover {
    opacity: 1;
}

.social-list-item-button:has(.fa-times) {
    background-color: #e46874;
    opacity: 0.75;
}

.social-list-item-button:has(.fa-times):hover {
    opacity: 1;
}

.social-list-item-button:has(.fa-comment) {
    background-color: #1e90ff;
    opacity: 0.75;
}

.social-list-item-button:has(.fa-comment):hover {
    opacity: 1;
}

.social-list-item-button:has(.fa-fist-raised) {
    background-color: #6f42c1;
    opacity: 0.75;
}

.social-list-item-button:has(.fa-fist-raised):hover {
    opacity: 1;
}