.chat-container {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #404150;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    outline: none;
    resize: none;
    background-color: #404150;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-input::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.chat-send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #9b9bac;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

.chat-messages::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.chat-message {
    border-radius: 5px;
    background-color: #343641;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.chat-message:hover {
    background-color: rgba(34, 0, 255, 0.1);
}

.chat-message.other:hover {
    background-color: rgba(34, 0, 255, 0.1);
}

.chat-message:not(:last-child) {
    margin-bottom: 10px;
}

.chat-message.other {
    flex-direction: row-reverse;
    background-color: #444655;
}

.message-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.25s;
}

.message-hidden.other {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.25s;
}

.message-shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.message-shown.other {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.chat-avatar {
    padding: 10px;
    width: 50px;
    text-align: center;
    font-size: 1.2em;
}

.chat-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-message-text {
    flex: 1;
    font-size: 0.8em;
    padding: 10px;
    border-radius: 5px;
}